
body
  display: flex
  flex-direction: column
  height: 100vh
header.navigation nav
.l-content
  @include flex-basis(auto)
  @include flex-grow(1)
  @include flex-shrink(0)
  @include display(flex) 
  @include align-content(stretch)
  @include flex-direction(column)
  @include background(linear-gradient(left, $white 0%, $white 82.94%, $yellow 82.95%));
.l-footer
  flex: none
  background: $black
  min-height: 100px
  text-align: center
.l-filter
  &__search
    @media (min-width:1040px)
      @include span-columns(2)
      float: right
    float: right
    margin-bottom: $gutter-half
.l-pagination
  clear: both
  margin: $gutter 0
.l-pagination,    
.l-dataTable      
  @include span-columns(12)
.navigation-wrapper
  @include outer-container
.l-mainContent
  @media (min-width:1040px) 
    @include outer-container
    @include display(flex) 
    @include align-content(stretch)
    @include flex-direction(column)
    @include flex-grow(1)
    /*@include flex-wrap(wrap)*/
  
  &__top
    @include span-columns(12)
    clear: both
    @include display(flex)
    @include align-content(stretch)  
    /*@include flex-grow(1)  */
    &Right
      @include span-columns(2)
      background: $yellow
      padding-left: $gutter-half
      /*@include flex-grow(1)*/
    &Left
      @include span-columns(10)
      background: $white
      /*@include flex-grow(1)*/
  &__bottom
    @include span-columns(12)
    background: $yellow
  &__middle
    clear: both
    @include display(flex)
    @include align-content(stretch)  
    @include flex-grow(1)
  &__table
    @include span-columns(10)
    background: $white
    @include flex-grow(1)
    padding: 0 $gutter
  &__actions
    @include span-columns(2)
    @include flex-shrink(0)
    background: $yellow
    padding-left: $gutter-half
.c-mainContent
  @include flex-grow(1)
  @include display(flex) 
  @include align-content(stretch)
  @include flex-direction(column)
  &__title
    text-align: center
    
.c-links
  @include display(flex)
  @include justify-content(space-around)
  @include align-items(center)
  
  &__email
    max-width: 120px
    &Note
      text-align: center
  &__download
    max-width: 220px
    &Note
      text-align: center
  &__contact
    max-width: 150px
    &Note
      text-align: center