.l-mainContent__bottom
    .l-mainContent
      .c-links
        .c-links__email
          h3.c-links__emailNote Ich mochte ein Angebot
          a.button.c-links__button Email
        .c-links__download
          h3.c-links__emailNote Jetzt Demoversion kostenlos testen
          a.button.c-links__button Zum Download
        .c-links__contact
          h3.c-links__contactNote WSCAD Im Ausland
          a.button.c-links__button Kontakt