tr.c-dataTable__item
  td.c-dataTable__bodyCell.c-dataTable__contract Test contract
  td.c-dataTable__bodyCell.c-dataTable__ticket CAS-004456369
  td.c-dataTable__bodyCell.c-dataTable__customerTicket 25668884455565
  td.c-dataTable__bodyCell.c-dataTable__title PC does not start
  td.c-dataTable__bodyCell.c-dataTable__creator Martin Bartek
  td.c-dataTable__bodyCell.c-dataTable__status Status Researching
  td.c-dataTable__bodyCell.c-dataTable__priority High
  td.c-dataTable__bodyCell.c-dataTable__createdDate 01/11/2016 
    span.c-dataTable__createdTime 14:45:55
  td.c-dataTable__bodyCell.c-dataTable__modified-closed  01/11/2016 
    span.c-dataTable__modified-closedTime 14:45:55
  td.c-dataTable__bodyCell.c-dataTable__description Description