| <div class="navigation-wrapper">
|  <a href="javascript:void(0)" class="logo">
|    <img src="assets/img/logo.png" height="60" alt="Logo Image">
|  </a>
|  <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
|  <div class="navigation-tools">
|    <div class="search-bar">
|      <form role="search">
|        <input type="search" placeholder="Enter Search" />
|        <button type="submit">
|           <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon.png" alt="Search Icon">
|        </button>
|      </form>
|    </div>
|   </div>
|  <nav role="navigation" class="navigation-right">
|    <ul id="js-navigation-menu" class="navigation-menu">
|      <li class="nav-link"><a href="javascript:void(0)">Change password</a></li>
|      <li id="js-navigation-more" class="nav-link more"><a href="javascript:void(0)">Logout <span class="c-user__name">Martin</span>&#160;<span class="c-user__lastname">Bartek</span></a>
|        <ul class="submenu">
|          <li><a href="javascript:void(0)">Submenu Item</a></li>
|          <li><a href="javascript:void(0)">Another Item</a></li>
|          <li class="more"><a href="javascript:void(0)">Item with submenu</a>
|            <ul class="submenu">
|              <li><a href="javascript:void(0)">Sub-submenu Item</a></li>
|              <li><a href="javascript:void(0)">Another Item</a></li>
|            </ul>
|          </li>
|          <li class="more"><a href="javascript:void(0)">Another submenu</a>
|            <ul class="submenu">
|              <li><a href="javascript:void(0)">Sub-submenu</a></li>
|              <li><a href="javascript:void(0)">An Item</a></li>
|            </ul>
|          </li>
|        </ul>
|      </li>
|    </ul>
|  </nav>
| </div>