<!DOCTYPE html>
html(lang="en")
head
  title WCAD Solution Support Center
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1")
  link(rel="shortcut icon", href="./assets/img/favicons/favicon.ico")
  script(src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous")
  script(src="assets/js/app.js")
  link(rel="stylesheet", href="assets/css/main.css")
body
  .l-content
    header.l-header.navigation(role="banner")
      include _topNav.jade
    main.l-mainContent
      .c-mainContent
        .l-mainContent__top
          .l-mainContent__topLeft
            h1.c-mainContent__title 
              span.c-title_decorated Solution support center
            nav.c-support
              ul.c-support__contacts
                li.c-support__contact In case of problems, please contact 
                  span.c-support__contact_important Support Hotline
                li.c-support__contact Tel.: 
                  a.c-support__link.c-support__link_phone(href="tel:+49123456789") +49 123 456 789
                li.c-support__contact Email:                     
                  a.c-support__link.c-support__link_email(href="mail-to:support@digitalcustomership.de") support@digitalcustomership.de
          .l-mainContent__topRight
        .l-mainContent__middle
          .l-mainContent__table  
            .c-filter
              .l-filter__search
                .c-filter__search
                  include _searchBar.jade
            .l-dataTable      
              table.c-dataTable
                thead.c-dataTable__header
                  tr.c-dataTable__headerTitles
                    th.c-dataTable__headerCell.c-dataTable__contract Contract
                      include _sort.jade
                    th.c-dataTable__headerCell.c-dataTable__ticket Ticket #
                      include _sort.jade
                    th.c-dataTable__headerCell.c-dataTable__customerTicket Customer ticket #
                      include _sort.jade
                    th.c-dataTable__headerCell.c-dataTable__title Title
                      include _sort.jade
                    th.c-dataTable__headerCell.c-dataTable__creator Created by
                      include _sort.jade
                    th.c-dataTable__headerCell.c-dataTable__status Status Reason
                      include _sort.jade
                    th.c-dataTable__headerCell.c-dataTable__priority Priority
                      include _sort.jade
                    th.c-dataTable__headerCell.c-dataTable__createdDate Created on
                      include _sort.jade
                    th.c-dataTable__headerCell.c-dataTable__modified-closed Modified on / Closed on
                      include _sort.jade
                    th.c-dataTable__headerCell.c-dataTable__description Description
                      include _sort.jade
                  tr.c-dataTable__headerFilters
                    th.c-dataTable__headerCell.c-dataTable__contract
                      select(id="contractsFilter")
                        option 
                        option(value="1") value 1
                        option(value="2") value 2
                        option(value="3") value 3
                    th.c-dataTable__headerCell.c-dataTable__ticket
                      select(id="ticketNumberFilter")
                        option 
                        option(value="1") value 1
                        option(value="2") value 2
                        option(value="3") value 3
                    th.c-dataTable__headerCell.c-dataTable__customerTicket
                      select(id="customerTicketFilter")
                        option 
                        option(value="1") value 1
                        option(value="2") value 2
                        option(value="3") value 3
                    th.c-dataTable__headerCell.c-dataTable__title
                      input(id="titleFilter")
                    th.c-dataTable__headerCell.c-dataTable__creator
                      select(id="creatorFilter")
                        option 
                        option(value="1") value 1
                        option(value="2") value 2
                        option(value="3") value 3
                    th.c-dataTable__headerCell.c-dataTable__status
                      select(id="statusFilter")
                        option 
                        option(value="1") value 1
                        option(value="2") value 2
                        option(value="3") value 3
                    th.c-dataTable__headerCell.c-dataTable__priority
                      select(id="statusFilter")
                        option 
                        option(value="1") value 1
                        option(value="2") value 2
                        option(value="3") value 3
                    th.c-dataTable__headerCell.c-dataTable__createdDate
                      input.half(id="createDateFilter")
                      input.half(id="createTimeFilter")
                    th.c-dataTable__headerCell.c-dataTable__modified-closed
                      input.half(id="modifyDateFilter")
                      input.half(id="modifyTimeFilter")
                    th.c-dataTable__headerCell.c-dataTable__description
                      input(id="descriptionFilter")
                tbody.c-datatable__body
                  include _tableRow.jade
                  include _tableRow.jade
                  include _tableRow.jade
                  include _tableRow.jade
                  include _tableRow.jade
                tfoot
                  tr.c-dataTable__headerTitles
                      td.c-dataTable__footerCell.c-dataTable__contract Contract
                        include _sort.jade
                      td.c-dataTable__footerCell.c-dataTable__ticket Ticket #
                        include _sort.jade
                      td.c-dataTable__footerCell.c-dataTable__customerTicket Customer ticket #
                        include _sort.jade
                      td.c-dataTable__footerCell.c-dataTable__title Title
                        include _sort.jade
                      td.c-dataTable__footerCell.c-dataTable__creator Created by
                        include _sort.jade
                      td.c-dataTable__footerCell.c-dataTable__status Status Reason
                        include _sort.jade
                      td.c-dataTable__footerCell.c-dataTable__priority Priority
                        include _sort.jade
                      td.c-dataTable__footerCell.c-dataTable__createdDate Created on
                        include _sort.jade
                      td.c-dataTable__footerCell.c-dataTable__modified-closed Modified on / Closed on
                        include _sort.jade
                      td.c-dataTable__footerCell.c-dataTable__description Description
                        include _sort.jade
            .l-pagination
              include _pagination.html
          .l-mainContent__actions
            .c-filter
              button.button.c-filter__button My Case List
              button.button.c-filter__button 30 Days Old Cases Only
              button.button.c-filter__button Reset Filter Criteria
              button.button.c-filter__button Refresh Table
              button.button.c-filter__button.button_invert Create Table
  footer.l-footer
    .l-mainContent
      include _footer.jade