<!DOCTYPE html>
html(lang="en")
head
  title WCAD Solution Support Center
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1")
  link(rel="shortcut icon", href="./assets/img/favicons/favicon.ico")
  script(src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous")
  script(src="assets/js/app.js")
  link(rel="stylesheet", href="assets/css/main.css")
body
  .l-content
    header.l-header.navigation(role="banner")
      include _topNav.jade
    main.l-mainContent
      .c-mainContent
        .l-mainContent__top
          .l-mainContent__topLeft
            h1.c-mainContent__title
              Solution support center
            nav.c-support
              ul.c-support__contacts
                li.c-support__contact In case of problems, please contact
                  span.c-support__contact_important Support Hotline
                li.c-support__contact
                  a.c-support__link.c-support__link_phone(href="tel:+49123456789") +49 123 456 789
                li.c-support__contact                    
                  a.c-support__link.c-support__link_email(href="mail-to:support@digitalcustomership.de") support@digitalcustomership.de
          .l-mainContent__topRight
        .l-mainContent__bottom
          .l-mainContent__table  
            .c-filter
              .l-filter__search
                .c-filter__search
                  include _searchBar.jade
            .l-dataTable      
              table.c-dataTable
                thead.c-dataTable__header
                  tr.c-dataTable__headerTitles
                    th.c-dataTable__headerCell.c-dataTable__contract Contract
                    th.c-dataTable__headerCell.c-dataTable__ticket Ticket #
                    th.c-dataTable__headerCell.c-dataTable__customerTicket Customer ticket #
                    th.c-dataTable__headerCell.c-dataTable__title Title
                    th.c-dataTable__headerCell.c-dataTable__creator Created by
                    th.c-dataTable__headerCell.c-dataTable__status Status Reason
                    th.c-dataTable__headerCell.c-dataTable__priority Priority
                    th.c-dataTable__headerCell.c-dataTable__createdDate Created on
                    th.c-dataTable__headerCell.c-dataTable__modified-closed Modified on / Closed on
                    th.c-dataTable__headerCell.c-dataTable__description Description
                  tr.c-dataTable__headerFilters
                    th.c-dataTable__headerCell.c-dataTable__contract
                      include _dropdown.html
                    th.c-dataTable__headerCell.c-dataTable__ticket
                      include _dropdown.html
                    th.c-dataTable__headerCell.c-dataTable__customerTicket
                      include _dropdown.html
                    th.c-dataTable__headerCell.c-dataTable__title
                      include _dropdown.html
                    th.c-dataTable__headerCell.c-dataTable__creator
                      include _dropdown.html
                    th.c-dataTable__headerCell.c-dataTable__status
                      include _dropdown.html
                    th.c-dataTable__headerCell.c-dataTable__priority
                      include _dropdown.html
                    th.c-dataTable__headerCell.c-dataTable__createdDate
                      include _dropdown.html
                      include _dropdown.html
                    th.c-dataTable__headerCell.c-dataTable__modified-closed
                      include _dropdown.html
                      include _dropdown.html
                    th.c-dataTable__headerCell.c-dataTable__description
                      include _dropdown.html
                tbody.c-datatable__body
                  tr.c-dataTable__item
                    td.c-dataTable__bodyCell.c-dataTable__contract Test contract
                    td.c-dataTable__bodyCell.c-dataTable__ticket CAS-004456369
                    td.c-dataTable__bodyCell.c-dataTable__customerTicket 25668884455565
                    td.c-dataTable__bodyCell.c-dataTable__title PC does not start
                    td.c-dataTable__bodyCell.c-dataTable__creator Martin Bartek
                    td.c-dataTable__bodyCell.c-dataTable__status Status Researching
                    td.c-dataTable__bodyCell.c-dataTable__priority High
                    td.c-dataTable__bodyCell.c-dataTable__createdDate 01/11/2016 
                      span.c-dataTable__createdTime 14:45:55
                    td.c-dataTable__bodyCell.c-dataTable__modified-closed  01/11/2016 
                      span.c-dataTable__modified-closedTime 14:45:55
                    td.c-dataTable__bodyCell.c-dataTable__description Description
                tfoot
                  tr.c-dataTable__headerTitles
                      th.c-dataTable__headerCell.c-dataTable__contract Contract
                      th.c-dataTable__headerCell.c-dataTable__ticket Ticket #
                      th.c-dataTable__headerCell.c-dataTable__customerTicket Customer ticket #
                      th.c-dataTable__headerCell.c-dataTable__title Title
                      th.c-dataTable__headerCell.c-dataTable__creator Created by
                      th.c-dataTable__headerCell.c-dataTable__status Status Reason
                      th.c-dataTable__headerCell.c-dataTable__priority Priority
                      th.c-dataTable__headerCell.c-dataTable__createdDate Created on
                      th.c-dataTable__headerCell.c-dataTable__modified-closed Modified on / Closed on
                      th.c-dataTable__headerCell.c-dataTable__description Description
            .l-pagination
              include _pagination.html
          .l-mainContent__actions
            .c-filter
              button.c-filter__button My Case List
              button.c-filter__button 30 Days Old Cases Only
              button.c-filter__button Reset Filter Criteria
              button.c-filter__button Refresh Table
              button.c-filter__button.c-filter__button_invert Create Table
  footer.l-footer
    include _footer.jade